#matchedContent .scroll-content{
    vertical-align: middle;
    display: grid;
}

#pinInput input{
    text-align:center;
}

.pinInputParent{
    width:40%;
    text-align:center;
    display:inline-block;
    padding:0px;
    font-size:2em;
}